<DOCTYPE html>
	<html lang="em">
	   <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title> layout</title>
		<link rel="stylesheet" type="text/css" href="css/layout.css">
		<link rel="stylesheet" href="css/style.css">
	  	  <style>
	  	h2{
	  		color: red;
	  		font-size: 30px;
	  		background-color:green;
	  	}
	  </style>
	  <style>
	  	h4{
	  		color: green;
	  		font-size: 30px
	  	}
	  </style>
	   </head>
	     <body>
	     	<h1>Layout</h1>
	     		 	  <ul>
	 		<li>tuhin</li>
	 		<li>hasan</li>
	 		<li>samiul</li>
	 	</ul>
	 	<ol>
	 		<li>tuhin</li>
	 		<li>samiul</li>
	 		<li>hasan</li>
	 	</ol>
	     <table>
	     	<tr>
	     		<th>name</th>
	     		<th>age</th>
	     		<th>addess</th>
	     	</tr>
	     	<tr>
	     		<td>tuhin</td>
	     		<td>18</td>
	     		<td>modhupurs</td>
	     	</tr>

	     </table>
	     	
	     	<h1 style="color: blue; font-size: 30px;background-color:red">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h1>
	     	<h2>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>
	     	<h3> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</h3>
	     	<h4 style="color: red;font-size: 30px">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.</h4>
	     	<p>I will give you a complete account of the system, and expound the actual teachings of the great explorer</p>
	     	<p class="head1">he master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself</p>
	     	<p id="head2">Nor again is there anyone who loves or pursues or desires to obtain pain of itself</p>
	     	<p class="p" id="p"> But who has any right to find fault with a man who chooses to enjoy a pleasure that has</p>

	 	<div class="header">
	 		
	 	</div>
	 	<div class="box">
	 		<div class="blog"></div>
	 		<div class="blog"></div>
	 		<div class="blog"></div>
	 		
	 	</div>
	 	<div class="footer">
	 		
	 	</div>





	     	<div class="header">
	     		The adept web developer website
	     		</div>


	     	  <div class="box">
	     	  	<div class="blog">Web Developer information
All modern browsers support the following 140 color names (click on a color name, or a hex value, to view the color as the background-color along with different text colors)</div>
	     	  	<div class="blog2">Inept devoloper contact
All modern browsers support the following 140 color names (click on a color name, or a hex value, to view the color as the background-color along with different text colors</div>
	     	  </div>

	     	  <div class="footer">TRAVEL WITH ASH</div>
	     	  <img src="" alt="">

               <div class="box2">

               	<div class="blog3">All modern browsers support the following 140 color names</div>
	     	  	<div class="blog4">All modern browsers support the following 140 color names</div>
	     	  	<div class="blog5">All modern browsers support the following 140 color names</div>
	     	  	<div class="blog6">All modern browsers support the following 140 color names</div>
	     	   	
	     	   </div>
	     	   <div class="footer2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>

	     	   <div class="box3">

               	<div class="blog7">All modern browsers support the following 140 color names</div>
	     	  	<div class="blog8">All modern browsers support the following 140 color names</div>
	     	  	<div class="blog9">All modern browsers support the following 140 color names</div>
	     	  	<div class="blog10">All modern browsers support the following 140 color names</div>
	     	  	<div class="blog11">All modern browsers support the following 140 color names</div>
	     	  	<div class="blog12">All modern browsers support the following 140 color names</div>
	     	   	
	     	   </div>
	     	   <img src="images/laptop.jpg" alt="laptop">
	     	  	
	     	  
	     	  
	     	
	     </body>
	</html>
